.error {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(240, 128, 128, 0.3);
}

.errorHeading {
  font-size: large;
  text-transform: uppercase;
}

.errorMessage {
  font-size: medium;
}

.errorCartoon {
  font-size: x-large;
}
.errorLink {
  text-decoration: none;
  font-size: medium;
}
